<div id="right_column_flip" class="right_column_flip">
<h2><%= _('discussion') %></h2>
<ul class="no_bullets">
  <li><%= link_to_unless_current _('help_about'), help_about_path %></li>
  <li><%= link_to_unless_current _('help_requesting'), help_requesting_path %></li>
  <li><%= link_to_unless_current _('help_privacy'), help_privacy_path %></li>
  <li><%= link_to_unless_current _('help_officers'), help_officers_path %></li>
  <li><%= link_to_unless_current _('help_api'), help_api_path %></li>
  <li><%= link_to_unless_current _('advanced_search'), search_redirect_path %></li>
  <% if feature_enabled?(:alaveteli_pro) %>
    <li><%= link_to_unless_current _('help_pro'), help_pro_path %></li>
  <% end %>
</ul>

<h2 id="contact" class="contact"><%= _('contact_title') %></h2>
<p><%= _('contact_desc', :url => help_contact_path) %></p>
</div>
